.landing {
  min-height: 100vh;
  background-image: url(../../assets/image/slider-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: var(--hover-transition);
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--second-color);
    opacity: 0.6;
  }
  & .text-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    & .title {
      span {
        color: #e5e50f;
      }
    }
    .landing-links {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (max-width: 767px) {
      & h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem !important;
      }
      & .landing-links a {
        padding: 15px !important;
        margin: 0.5rem;
      }
    }
    .nav-link {
      background-color: var(--second-color);
      color: #fff;
      margin: 1rem;
      padding: 15px 20px !important;
      border-radius: 30px;
      &:hover {
        background-color: var(--main-color);
      }
    }
    .nav-btn {
      background-color: transparent;
      border: 2px solid #fff;
      &:hover {
        background-color: var(--main-color);
        color: #fff;
      }
    }
  }
  svg {
    position: absolute;
    bottom: -30px;
    @media (max-width: 767px) {
      & {
        bottom: 0 !important;
      }
    }
  }
}