.services {
  .service-box {
    p:first-of-type {
      margin-bottom: 2rem;
    }
  }
  .img-box {
    .img-info {
      background-color: var(--main-color);
      padding: 25px;
      max-width: 200px;
      border-radius: 20px;
      @media (max-width: 767px) {
        & {
          padding: 1rem;
        }
      }
      h5 {
        margin-bottom: 1.5rem;
        @media (max-width: 767px) {
          & {
            margin-bottom: 0.5rem;
          }
        }
      }
      a {
        color: #fff;
        &:hover {
          color: var(--second-color);
        }
      }
    }
  }
}