:root {
  --main-font:"Poppins", sans-serif;
  --main-color:#7cb8eb;
  --second-color:#4f83d1;
  --third-color:#4f83d1;
  --p-color:#717275;
  --light-bg:#f0f8ff;
  --fw-light:300;
  --fw-medium:500;
  --fw-bold:700;
  --hover-transition:all .3s linear;
  --section-padding:80px;
  --small-section-padding:50px;
}

/* Start global  */
* {
  font-family: var(--main-font);
}

a {
  text-decoration: none;
  color: var(--main-color);
  transition: var(--hover-transition);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark-color);
}

h1 {
  font-size: 3rem;
  font-weight: var(--fw-bold);
  color: #fff;
}

h2 {
  font-size: 2.5rem;
  font-weight: var(--fw-bold);
  color: var(--dark-color);
}

h3 {
  font-size: 2rem;
  color: var(--dark-color);
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  color: var(--p-color);
  font-weight: var(--fw-light);
  font-size: 1rem;
}

.scroll-to-top {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 9999;
}

.scroll-to-top .up {
  background: linear-gradient(to right, var(--main-color) 50%, var(--third-color) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  transition: var(--hover-transition);
  cursor: pointer;
}

.scroll-to-top:hover .up {
  background-position: left bottom;
}

.scroll-to-top .up::before {
  font-family: "FontAwesome";
  content: "\f102";
  font-size: 18px;
  position: relative;
  top: 2px;
}

.scroller {
  background-color: var(--main-color);
  width: 0;
  height: 3px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}

/* End global  */
header {
  position: absolute;
  background-color: transparent;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: var(--hover-transition);
}
@media (max-width: 767px) {
  header {
    background-color: #fff !important;
  }
}
@media (max-width: 767px) {
  header .navbar {
    padding: 0;
  }
}
header .navbar-toggler {
  box-shadow: none !important;
  border: none;
  color: #fff;
}
@media (max-width: 767px) {
  header .navbar-toggler {
    color: #000;
  }
}
header .navbar-brand .logo {
  background-color: #fff;
  width: 80px;
  height: 80px;
  padding: 1rem;
  border-radius: 50%;
}
@media (max-width: 767px) {
  header .nav-item {
    width: 100%;
  }
  header .nav-item:hover:not(:last-child) {
    background-color: #f6f6f6;
  }
}
header .nav-item .nav-link {
  color: #fff;
}
header .nav-item .nav-link:hover {
  color: var(--main-color);
}
@media (max-width: 767px) {
  header .nav-item .nav-link {
    color: #000;
  }
}
@media (max-width: 767px) {
  header .nav-item .nav-link.nav-mobile {
    text-align: left;
    background-color: var(--second-color);
    width: fit-content;
    padding: 10px !important;
  }
}
header .nav-item .nav-btn {
  background: transparent;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 30px;
}
header .nav-item .nav-btn:hover {
  background-color: var(--main-color);
  color: #fff;
}

.landing {
  min-height: 100vh;
  background-image: url(../../assets/image/slider-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: var(--hover-transition);
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
  opacity: 0.6;
}
.landing .text-info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  text-align: center;
  width: 100%;
}
.landing .text-info .title span {
  color: #e5e50f;
}
.landing .text-info .landing-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .landing .text-info h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem !important;
  }
  .landing .text-info .landing-links a {
    padding: 15px !important;
    margin: 0.5rem;
  }
}
.landing .text-info .nav-link {
  background-color: var(--second-color);
  color: #fff;
  margin: 1rem;
  padding: 15px 20px !important;
  border-radius: 30px;
}
.landing .text-info .nav-link:hover {
  background-color: var(--main-color);
}
.landing .text-info .nav-btn {
  background-color: transparent;
  border: 2px solid #fff;
}
.landing .text-info .nav-btn:hover {
  background-color: var(--main-color);
  color: #fff;
}
.landing svg {
  position: absolute;
  bottom: -30px;
}
@media (max-width: 767px) {
  .landing svg {
    bottom: 0 !important;
  }
}

.services .service-box p:first-of-type {
  margin-bottom: 2rem;
}
.services .img-box .img-info {
  background-color: var(--main-color);
  padding: 25px;
  max-width: 200px;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .services .img-box .img-info {
    padding: 1rem;
  }
}
.services .img-box .img-info h5 {
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .services .img-box .img-info h5 {
    margin-bottom: 0.5rem;
  }
}
.services .img-box .img-info a {
  color: #fff;
}
.services .img-box .img-info a:hover {
  color: var(--second-color);
}

.offer {
  background-color: var(--light-bg);
}
.offer .card {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 1rem;
  border: none;
}
.offer .card .offer-img-box img {
  border-radius: 6px;
}
.offer .card .offer-img-box .offer-img-info {
  background-color: var(--second-color);
  padding: 0.8rem;
  color: #fff;
  border-radius: 6px;
}
.offer .card .offer-info {
  margin-top: 15px;
}
.offer .card .offer-info h4 a {
  color: var(--main-color);
  font-size: 1.8rem;
}
.offer .card .offer-info h4 a:hover {
  color: var(--second-color);
}
.offer .card .offer-info .offer-info-links ul svg.active {
  color: var(--second-color);
}
.offer .card .offer-info .offer-info-links .nav-link {
  background-color: var(--second-color);
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  letter-spacing: 1px;
}
.offer .card .offer-info .offer-info-links .nav-link:hover {
  background-color: var(--main-color);
}

.customers {
  background-image: url(../../assets/image/customer-section.jpg);
  position: relative;
  z-index: 1;
}
.customers .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--second-color);
  z-index: -1;
  opacity: 0.8;
}
@media (max-width: 767px) {
  .customers .main-title {
    font-size: 2rem;
  }
}
.customers .customer-card {
  background-color: var(--main-color);
  padding: 1.2rem;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}
@media (max-width: 767px) {
  .customers .customer-card {
    margin-bottom: 1rem;
  }
}
.customers .customer-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.customers .customer-card .customer-info {
  flex: 1;
  padding-left: 1rem;
}
.customers .customer-card .customer-info h4 {
  color: #fff;
}
.customers .customer-card .customer-info ul svg.active {
  color: var(--second-color);
}
.customers .customer-card .customer-info ul svg:not(.active) {
  color: #fff;
}

.banners .container {
  padding: 15px;
}
.banners .main-title {
  padding: 0.8rem 1rem;
  transform: translateY(-50%);
  z-index: 1;
  width: fit-content;
  box-shadow: 0 0 10px #ddd;
}
.banners .row {
  justify-content: center;
  align-items: center;
}
.banners .row img {
  width: 160px;
  transition: var(--hover-transition);
}
.banners .row img:hover {
  transform: scale(1.1);
}

footer {
  background-color: var(--main-color);
}
footer .row .title {
  font-size: 1.5rem;
  color: #fff;
}
footer .row p {
  line-height: 2;
  margin-bottom: 0;
  color: #fff;
}
footer .row h5 {
  margin-bottom: 1rem;
}
footer .row .social-media li a {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--hover-transition);
}
footer .row .social-media li a:hover {
  background-color: var(--second-color);
}
footer .row .links li {
  padding: 5px 0;
}
footer .row .links li a svg {
  margin-right: 5px;
}
footer .row .links li a.active {
  transition: var(--hover-transition);
}
footer .row .links li a.active:hover {
  color: var(--second-color) !important;
  padding-left: 10px;
}
footer .row .links p svg {
  margin-right: 5px;
}
footer .footer-copyright {
  background-color: var(--main-color);
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  footer .footer-copyright {
    flex-direction: column;
  }
}
footer .footer-copyright span {
  color: #f00;
}/*# sourceMappingURL=main.css.map */